* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom, #08203e, #557c93);
    color: #fff;
}

#banner {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.pkcLogo {
    display: inline;
}

.address {
    display: inline;
    font-size: 2.5rem;
}

.association {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

.dubbaa {
    height: 100%;
    margin-top: 20px;
}

.heading {
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #2c00cc 0%,
     #00ff7b 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: block;
    font-size: 2rem;
    text-align: center;

 }
 @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.startBtnBox {
    position: absolute;
    bottom: 50%;
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn {
    text-align: center;
    height: 75px;
    width: 150px;
    border-radius: 100%;
    
}

.rules-container{
    height: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rulesTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.rulez {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
}

button:hover{
    cursor: pointer;
}

.nextBtn{
    width: 15%;
    position: absolute;
    /* bottom: 75px;
    right: 30px; */
}

#btnBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adding Animation to Timer */
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

/* Adding Animation to choices */
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:900px){
    .container {
        width: 100%;
        margin-top: 50px;
    }
    .container h1{
        font-size: 24px;
    }
    .container .question{
        font-size: 22px;
    }

    .timer{
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .startBtn{
        width: 50%;
    }
}

.glow-on-hover {
    margin-top: 60px;
    width: 320px;
    height: 75px;
    padding: 5px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    font-size: xx-large;
    justify-content: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


